<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <meta charset = "utf-8"> 
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!--<script type="text/javascript"src="{{ url_for('static', filename='user.js') }}"></script>-->
    
  </head>
  <body>
    
    <script type="text/javascript" src="{{ url_for('static', filename='client.js') }}"></script>
        
    <h1>Video Streaming Demonstaaration</h1>
    
    <button id="refresh" onclick="window.location.reload(true);">reload</button>
    
    <button id="boopbutton">Test Server Connection</button>

    <button id="carconnect">Connect to car</button>

    <p> Please click the button above and then wait for connection to car (can take up to a minute, car will beep & light up when connected) </p>

    <p> Controls: accelerate/decelerate with W and S (car will maintain speed), steer with A and D, brake with space, lights and horn with L and H </p>

    <b>Message log with server:</b><br>

    <div id="log"></div>
     
  </body>
</html>
